echo "Working in $MMDAPP" >&2
[ -f "$HOME/.bashrc" ] && . "$HOME/.bashrc" 

export MDLC_BIN="$MMDAPP/.local"
# search: 1) previous path; 2) distro {.local|deploy|source} scripts.

PATH+=":$MDLC_BIN/myx/myx.distro-.local/sh-scripts"
PATH+=":$MDLC_BIN/myx/myx.distro-system/sh-scripts"
PATH+=":$MDLC_BIN/myx/myx.distro-deploy/sh-scripts"
PATH+=":$MDLC_BIN/myx/myx.distro-source/sh-scripts"
PATH+=":$MDLC_BIN/myx/myx.distro-remote/sh-scripts"

# . "$MDLC_BIN/myx/myx.distro-.local/sh-lib/DistroShellContext.include"

consolePromptState(){
	if [ ! -z "$MDSC_INT_CD" ] ; then
		echo "Changing directory: $MDSC_INT_CD"
		cd "$MDSC_INT_CD"
		export -n MDSC_INT_CD
	fi
	printf "MDLC:%s:%s" ".local" "$(basename "${MDSC_PRJ_NAME:--}")"
}

PS1="\` consolePromptState \`: $PS1"
export PS1
